<header class="header-container">
    <div>
        <h1>System</h1>
    </div>
    <nav class="nav-container">
        <a 
            href="/" 
            aria-current="page" 
            class="{{#if NavActiveRegister}} active {{/if}}"
        >
            Register
        </a>
        <a 
            href="/login" 
            aria-current="page" 
            class="{{#if NavActiverLogin}} active {{/if}}"
        >
            Login
        </a>
    </nav>
</header>