{{#each messageError}}
    <div class="message-error">
        <p>{{message}}</p>
    </div>
{{/each}}

{{#if messageSuccess}}
    <div class="message-success">
        <p> User register with success! </p>
    </div>
{{/if}}